# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Directories
.vs/
bin/
obj/
testfiles/

\.vscode/settings\.json

libs/lin/release/libtestlib\.a
libs/lin/release/libVectorworksMvrGdtf\.a

*.pdb
*.idb
*.log
*.lastbuildstate
*.tlog
*.ipdb
*.iobj
*.exp
*.mvr
x64/Debug/libVectorworksMvrGdtf.lib
x64/Debug/libVectorworksMvrGdtf.dll
*.ilk
