name: Build Static Linux

on:
    workflow_dispatch:

# test with: act -W '.github/workflows/build-static.yml'
jobs:
    build_linux:

      runs-on: ubuntu-latest
  
      steps:
      # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      # Install curl
      - name: Install prerequisites
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libboost-all-dev
          sudo apt-get install -y libcurl4-openssl-dev
          sudo apt-get install -y cmake
  
      # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      # Xerces-C - setup and build
      # we need to compile it ourselves because libMVRGdtf expects XMLChar be uint16_t
      - name: Xerces-C - prepare
        run: |
          mkdir xerces-c
          cd xerces-c
          curl -o xerces-c.zip https://dlcdn.apache.org//xerces/c/3/sources/xerces-c-3.2.5.zip
          unzip xerces-c.zip -d . && mv xerces-c-*/* .
  
      - name: Xerces-C - build
        working-directory: xerces-c
        run: |
          ./configure --disable-shared --enable-xmlch-uint16_t --prefix=$(pwd)/_build
          make -j
          make install
    
      # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      # libMVRGdtf - checkout repository
      - name: libMVRGdtf - checkout repository
        uses: actions/checkout@v4
        with:
          path: libMvrGdtf
          
      # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      # libMVRGdtf - setup and build and test
      - name: libMVRGdtf - build
        working-directory: libMvrGdtf
        run: |
          mkdir build
          cd build
          cmake .. -DUNITTEST=TRUE -DEXTRA_LIBS="curl;icuuc;icudata;icui18n;icuio" -DXERCES_LIB_PATH="$(pwd)/../../xerces-c/_build/lib/libxerces-c.a"
          make -j
    
      # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      - name: Collect Artifact
        working-directory: libMvrGdtf
        run: |
          mkdir -p output/include
          cp -r src/Include/* output/include/
          
          mkdir -p output/lib
          cp -r libs/* output/lib/
  
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libMVRgdtf-linux
          path: |
            libMvrGdtf/output
            
