name: Linux Unittest CI

on:
  [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  # https://github.com/nektos/act/issues/307
      - name: Build
        uses: ./.github/actions/build-linux

      - name: Testing...
        working-directory: libMvrGdtf/build
        run: |
          ./MvrGdtfUnitTest
